@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.avatar{
  border-radius: 25px;
  width: 25%;
}

.text{
  font: italic;
  color:#3c4547
}

.title{
  font: italic;
  color:#2e2e2e
}

.row{
  font:bold;
  color:#235d6d
}

.centered-container {
  display: flex; /* or use grid */
  justify-content: center;
  align-items: center;
  /*height: 100vh; /* Adjust as needed */
}

.custom-div {
  margin-left: 42%; /* Adjust horizontal position */
  margin-top: 30px; /* Adjust vertical position */
}
.text-box {
   /* Padding */
   padding: 0.25rem 0.75rem; /* Change to your desired padding */
   /* Font size */
   font-size: 1rem; /* Change to your desired font size */
 
   /* Text color */
   color: #000000; /* Change to your desired text color */
 
   /* Background color */
   background-color: #ffffff; /* Change to your desired background color */
 
   /* Border radius */
   border-radius: 0rem; /* Change to your desired border radius */
 
   /* Hover effects */
   transition: background-color 0.3s ease-in-out; /* Smooth transition */
 
   border: 1px solid; /* Add a border with default color */
 
   border-color: #0000005b; /* Change to your desired border color */
}

.text-box:hover {
  background-color: #e7e7e7; /* Change to your desired hover background color */
}

.custom-button {
  /* Padding */
  padding: 0.25rem 0.75rem; /* Change to your desired padding */
  /* Font size */
  font-size: 1rem; /* Change to your desired font size */

  /* Text color */
  color: #000000; /* Change to your desired text color */

  /* Background color */
  background-color: #ffffff; /* Change to your desired background color */

  /* Border radius */
  border-radius: 0rem; /* Change to your desired border radius */

  /* Hover effects */
  transition: background-color 0.3s ease-in-out; /* Smooth transition */

  border: 1px solid; /* Add a border with default color */

  border-color: #0000005b; /* Change to your desired border color */


}
.custom-button:hover {
  background-color: #45679e; /* Change to your desired hover background color */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
